
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&family=Source+Code+Pro&display=swap');



body {
    background-color: #BDD4DE;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
}

* {
    outline: 1px dotted lime;
} 

.header {
    background-color: #2B3A42;
    color: #FF530D;
    height: 90px;
    border-bottom: 6px solid #3F5765;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.logo img {
    border: 5px solid #FF530D;
    max-width: 112px;
    width: 100%;
    
}

.logo {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: white;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: white;
    font-size: 15px;
}

.links a{
    color: #FF530D;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.white {
    color: white;
}

.container {
    background-color: #BDD4DE;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.container img {
    max-width: 250px;
    width: 40%;
    padding: 10px;
}

.placeholder {
    margin: 35px;
    /* height: 300px; */
    grid-row: 1;    
}

.food {
    margin: 35px;
    grid-row: 2;
}


#intro {
    background-color: aliceblue;
    color: #FF530D;
    grid-row: 2;
    margin: 40px 100px;
    padding: 40px;
}

#footer {
    background-color: #2B3A42;
    color: #BDD4DE;
    text-align: center;
    padding-top: 10px;
    height: 140px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer a{
    color: inherit;
}





